* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 20px;
    background-color: #f0bae8; 
    
}

h1 {
    color: #693265;
}

h2 {
    color: rgb(110, 33, 99)
}

h3 {
    color: rgb(89, 33, 72)
}

a {
    color: #a104a3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    border: 2px solid #f70bb4;
    border-radius: 5px; /* Coins arrondis */
    padding: 5px; 
    opacity: 0.85;
}

ul {
    list-style: none;
}

p {
    margin-bottom: 10px;
}

#action, #Drama {
    margin-top: 20px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #948c8c;
}

table, th, td {
    border: 1px solid rgb(146, 140, 149);
    border-collapse: collapse;
}

th {
    color: rgb(188, 9, 134);
    margin-bottom: 10px;
}
